<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Upload</title>
    <link href="{{ url_for('static', path='/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
</head>
<body>

<div class="black-box">
    <div class="load-box">
        <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
        <h3>Поиск по изображению</h3>
            <a href="{{ url_for('index')}}">Назад</a>
    </div>
    {% if images %}
        <div class="content-box">
            {% for item in images %}
                <div class="image-box">
                    <img class="img" src="{{ url_for('train', path=item[0]) }}">
                    <p style="margin-top: 6px; margin-left: 4px;">Название: {{ item[1] }}</p>
                    <p style="margin-top: 6px; margin-left: 4px;">Класс: {{ item[3] }}</p>
                    <p style="margin-left: 4px;">Описание: {{ item[2] }}</p>
                    <p style="margin-left: 4px;">Сходство: {{ ((1.0 - item[4]) * 100) | round(2) }}%</p>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>

</body>
</html>